$underlined: underline;
$brown-border: 3px solid brown;

@mixin text_components($underlined, $brown-border) {
  text : {
    align: center;
    decoration: $underlined;
  }
  border: $brown-border;
}

.square {
  height: 500px;
  width: 500px;
  background-color: #672e6d;
  .blob_1 {
    font : {
      size: 40px;
      family: cursive;
    }
    @include text_components($underlined, 5px dashed green);
  }
  .blob_2 {
    font-size: 90px;
    @include text_components(line-through, $brown-border);
  }
}
