$underlined: underline;
$brown-border: 3px solid brown;

@mixin text_components($underlined) {
  text : {
    align: center;
    decoration: $underlined;
  }
  @include border-styling($radius: 3px, $style: solid, $color: brown);
}

@mixin border-styling($radius, $style, $color) {
  border: $radius $style $color
}

.square {
  height: 500px;
  width: 500px;
  background-color: #672e6d;
  .blob_1 {
    font : {
      size: 40px;
      family: cursive;
    }
    @include text_components($underlined);
    @include border-styling($radius: 9px, $style: dotted, $color: blue);
  }
  .blob_2 {
    font-size: 90px;
    @include text_components($underlined: line-through);
    @include border-styling($radius: 5px, $style: dashed, $color: green);

  }
}
